<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProject/Selenium_L1/pom.xml">
        <classes>
            <class name="cydeo.test.day7.T1_MultipleWindows"/>
            <class name="cydeo.test.day6.T1_AlertPractice"/>
            <class name="cydeo.test.day6.T4_iFramePractice"/>
        </classes>
    </test>
</suite>
